
<h1>About Myanmar Travellers</h1>

<p>Myanmar Travellers Web Application is Myanmar Online Bus Reservation System for the people who want to
    book bus tickets easily.Our Myanmar Travellers Web App allow to access the bus operators' database
     securely
     and safely in a user-friendly online environment. The software will 
    be in sync with allowing for real-time up-to-date services for their customers. Customers can also get the receipt
    ticket with Quick Response Code (QR-Code) format. Customers can go to bus terminal, show the QR code, pay the cost and 
    can start travelling.</p>
<h2>In a Partnership with these Bus Operators!</h2>
<img src="~/Content/imgs/partner.png" alt="" style="height:300px; width:800px" />

